body{
    background-color: black;
}
*{
    color: white;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: white;
    font-family: cursive;
    width: 100%;
    font-size: 8em;
}
p{
    text-align: center;
    font-size: 4em;
}
.user{
    width: 100%;
    display: flex;
    justify-content: center;
}
.user input{
    /* display: inline-block; */
    color: black;
    /* height: 20em; */
    font-size: 5em;
    /* width: 40em; */
    /* margin: auto; */
}